<div class="col-md-3 col-md-offset-1">
    <div class="panel panel-default sidebar-menu">

        <div class="panel-heading">
            <h3 class="panel-title">Menu de Compte/Boutique</h3>
        </div>

        <div class="panel-body">

            <ul class="nav nav-pills nav-stacked">
                <li {% if count_info %}class="active"{% endif %}>
                    <a href="{% url 'U_Profil_Vendeur' %}"><i class="fa fa-user"></i> Mes Information de Compte</a>
                </li>
                <li {% if change_password %}class="active"{% endif %}>
                    <a href="{% url 'U_MDP' %}"><i class="fa fa-user-secret"></i> Sécurité Compte</a>
                </li>

                <li {% if boutique_info %}class="active"{% endif %}>
                    <a href="{% url 'U_Boutique' %}"><i class="fa fa-heart"></i> Les Information du Boutique</a>
                </li>
                <li {% if produit_list %}class="active"{% endif %}>
                    <a href="{% url 'R_Vendeur_Produit' %}"><i class="fa fa-tags"></i> Mes Produits</a>
                </li>
                <li>
                    <a href="{% url 'Deconnexion' %}"><i class="fa fa-sign-out"></i> Déconnection</a>
                </li>
            </ul>
        </div>
    </div>
</div>
