{% extends 'BaseAdmin/base.html' %}

{% block contenu_admin %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="col-md-12">
                <form role="form" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-md-2">
                            <label>{{ form.nom_pays.label }} :</label>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            {{ form.nom_pays }}
                            {{ form.nom_pays.errors }}
                        </div>
                    </div>

                    <div class="col-md-2 col-md-offset-1">
                        {% if id %}
                            <button class="btn btn-warning btn-bevel arrow" type="submit"
                                    formaction="{% url "U_Pays" pays_id=id %}">
                                <i class=" fa fa-refresh "></i> Mettre à jour
                            </button>
                        {% else %}
                            <button class="btn btn-success btn-bevel arrow" type="submit"
                                    formaction="{% url "C_Pays" %}">
                                <i class=" fa fa-plus-square "></i> Ajouter
                            </button>
                        {% endif %}
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}