<table>
    <tr>
        <td><img src="https://vionic.com/backend/fe_vionic/images/brand-assets/Vionic_Marketplace_Logo_B.png" style="max-width: 300px"></td>
    </tr>
</table>
<hr>
<table>
    <tr>
        <td><h1>Bonjour</h1></td>
    </tr>
    <tr>
        <td>
            <h4>Votre demande a été accepter par notre administrateur.</h4>
        </td>
    </tr>
    <tr>
        <td>
            Les nouveaux parametre de connexion sont:
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>Login: {{ new_username }}</td>
    </tr>
    <tr>
        <td>Mot de Passe: {{ new_password }}</td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>
            <h3 style="color: #a94442;font-weight: bold;text-align: justify;">Pour le securité de votre compte veillez
                modifier dès la premiére accées au compte votre mot de passe.</h3>
        </td>
    </tr>
    <tr>
        <td>
            <a href="127.0.0.1:8000{% url 'Connexion' %}">
                <button style="background-color: #4CAF50;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;margin-left: 33vw;">
                    Accéeder a votre espace
                </button>
            </a>
        </td>
    </tr>
</table>
