{% extends 'Base/base.html' %}

{% block title %} Modifier Mot de Passe {% endblock %}

{% block contenu %}

    {% with titre_page="Securité Compte" chemin_page="Mon Espace Marketplace >  Securité Compte" %}
        {% include 'Base/titre_pages.html' %}
    {% endwith %}

    <div id="content" class="clearfix">
        <div class="container">
            <div class="row">
                {% if user.acheteur %}
                    {% with change_password=True %}
                        {% include 'Customer/menu compte_acheteur.html' %}
                    {% endwith %}
                {% endif %}

                <div class="col-md-8 {% if user.acheteur %}col-md-offset-1{% endif %} clearfix" id="customer-account">

                    <div class="heading">
                        <h3 class="text-uppercase">Modifier le mot de passe</h3>
                    </div>

                    <form role="form" method="post" action="{% url 'U_MDP' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ form.old_password.label }}</label>
                                    {{ form.old_password }}
                                    {{ form.old_password.errors }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ form.password.label }}</label>
                                    {{ form.password }}
                                    {{ form.password.errors }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{ form.renew_password.label }}</label>
                                    {{ form.renew_password }}
                                    {{ form.renew_password.errors }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main">
                                <i class="fa fa-save"></i> Enregistrer le nouveau mot de passe
                            </button>
                        </div>
                    </form>
                </div>

                {% if user.vendeur %}
                    {% with change_password=True %}
                        {% include 'Customer/menu compte_vendeur.html' %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}