{% extends 'Base/base.html' %}

{% block title %} Inscription {% endblock %}

{% block body %}
    <form role="form" method="post">
        {% csrf_token %}
        {{ form.last_name.errors }}
        {{ form.last_name.label }}
        {{ form.last_name }}
        <br>
        {{ form.first_name.errors }}
        {{ form.first_name.label }}
        {{ form.first_name }}
        <br>
        {{ form.email.errors }}
        {{ form.email.label }}
        {{ form.email }}
        <br>
        {{ form.registre_commerce_bout.errors }}
        {{ form.registre_commerce_bout.label }}
        {{ form.registre_commerce_bout }}
        <br>
        <button type="submit" formaction="{% url "VendeurInscri" %}">Passer la demande</button>

    </form>
{% endblock %}